.navbar-brand {
    font-family: viga;
    color: #fff !important;
    font-size: 32px;
}

.bg-X {
    background-image: url("../img/head.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;

}
.bg-one {
    background-color: #fff;
}


.bg-two {
    background-color: #EFF3F8;
}

.bg-tre {
    background-color: #000;
}

.bg-four {
    background-color: #3598DC;
}

.bg-five {
    background-color: #0D2127;
}

.btn-re {
	background-color: #B22222;
}

/* Color */
.bgone {
    color: #DAC2A8;
}


.bgtwo {
    color: #4B847D;
}

.bgtre {
    color: #fff;
}



/* Text */

.box1-uji {
    margin-top: 6px;
    font-family: viga;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #000000;
}

.pone {
    font-family: Roboto;
    color: #000 !important;
    font-size: 18px;
}

.ptwo {
    color: #000 !important;
    font-size: 14px;
}

.ptre {
    color: #DAC2A8;
    font-size: 5px;
}

.judul {
    font-family: viga;
    color: #3598DC !important;
    text-shadow: 1px 1px 1px #fff;
    font-size: 24px;
}

/* Navbar Primary & Seconndary */
.nav-link {
    margin-right: 30px;
    font-family: viga;
    color: #4B847D !important;
}

.link2 {
    margin-right: 30px;
    font-family: viga;
    color: #fff !important;
}

.drop-link {
    margin-right: 30px;
    color: #000 !important;
}

.drop-link:hover {
    margin-right: 30px;
    background-color: #55616F;
}

.navbox {
    padding: 2px 2px 2px;
    background-color: #fff;
}

/* sizes */
.px {
    width: 150px;
    height: 150px;
}

.w10 {
    width: 70px;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.w10-1 {
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.w50 {
    width: 400px;
    margin-top: 3px;
    margin-bottom: 3px;
}